

block content
  link(rel='stylesheet', href='../stylesheets/style.css')
  h1= title
  p Welcome to #{title}
  ol 
    for i in fakeDb 
        li= i
  nav
    form(action="/users/simple", method="get")
      input(type='text' name='textInput' placeholder='input text' id='textInput')
      input(type='submit' value='REFRESH'  )

    form(action="/users/simple", method="post" onsubmit="alert('submitting')")
      input(type='text' name='textInput' placeholder='input text' id='textInput')
      input(type='submit' value='SUBMIT')

  nav
    form.form-example(action="/users/simple", method="post" )
      .form-example
        label(for='name') Enter your name: 
        input#name(type='text' name='name' required='')
      .form-example
        label(for='email') Enter your email: 
        input#email(type='email' name='email' required='')
      .form-example
        input(type='submit' value='Subscribe!')

  nav
    form(action="/users/simple", method='post')
      label(for='name') Name:
      input#name(type='text' name='name')
      label(for='email') Email:
      input#email(type='email' name='email')
      input(type='submit' value='SUBMIT')
