

block content
  link(rel='stylesheet', href='../stylesheets/style.css')
  h1= title
  p Welcome to #{title}
  ol 
    for i in fakeDb 
        li= i
  nav
    form(action="/users/simple", method="get")
      input(type='text' name='textInput' placeholder='input text' id='textInput')
      input(type='submit' value='REFRESH'  )

    form(action="/users/simple", method="post" onsubmit="alert('submitting')")
      input(type='text' name='textInput' placeholder='input text' id='textInput')
      input(type='submit' value='SUBMIT')