

block content
  link(rel='stylesheet', href='../stylesheets/style.css')
  h1= title
  p Welcome to #{title} and #{index}
  nav
    form(action="/users/radio", method="get")
      input(type='text' name='textInput' placeholder='input search term' id='textInput')
      input(type='submit' value='SEARCH TERMS'  )

    form(action="/users/radio", method="post" onsubmit="alert('submitting')")
      input(type='text' name='textInput' placeholder='add text' id='textInput')
      input(type='submit' value='ADD ITEMS')
      .first-div
        .form-example
          label(for='name') Enter your name: 
          input#name(type='text' name='name' )
        .form-example
          label(for='email') Enter your email: 
          input#email(type='email' name='email' )
      .second-div
        .form-example
          label(for='name') Enter your name:
          input#name(type='text' name='name')
        .form-example
          label(for='email') Enter your email:
          input#email(type='email' name='email')
      p Select a maintenance drone:
      .my-radio
        div
          input#huey(type='radio' name='drone' value='huey' checked='')
          label(for='huey') Huey
        div
          input#dewey(type='radio' name='drone' value='dewey')
          label(for='dewey') Dewey
        div
          input#louie(type='radio' name='drone' value='louie')
          label(for='louie') Louie

