body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
nav form {
    display:block;
}
section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90px;
}
article {
    display:flex;
    justify-content: space-between;
}
section div {
    width: 150px;
    height: 2px;
    background-color: red;
}
article div {
    border: 3px solid black;
}
input[type='button'] {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: lightgreen;
    font-size: 3em;
}
input[type='button']:hover {
    background-color: black;
    color: white;
    font-size: 4em;
}
.class0,
.class1,
.class2,
.class3,
.class4 {
    background-color: red;
    border: 5px solid white;
}
.class0 {
height: 100px;
}
.class1 {
height: 200px;
}
.class2 {
height: 300px;
}
.class3 {
height: 400px;
}
.class4 {
height: 500px;
}
li {
    background-color:#aaa;
}
.second-div, .first-div {
    background-color: #fff;
    border: 2px solid blue;
}
.unique {
    background-color: red;
}
.my-radio{
	display: flex;
	justify-content: space-around;
    background-color: pink;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
}
input[type='radio'] {
    /* appearance: none; */
    width: 2.15rem;
    height: 2.15rem;
    
}
.my-radio div:hover {
    background-color: black;
    color: red;
    font-size: 2em;
    border: 4px solid green;
    border-radius: 50%;
}
